.new-todo-list button
{
    background-color: #0E4DA4;
    border-width: 0;
    border-radius: 12px
}

.new-todo-list label
{
    text-align: left;
}

.new-todo-list input
{
    margin-top: 5px;
    margin-bottom: 5px;
}
