.task-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.format-task-to-show{
    color: white;
    width:60em;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.task-to-output
{
    padding: 1.5%;
    margin-top:2em;
    background-color: #222222;
}
.task-isDone-checkBox {
    width: 20px;
    height: 20px;
}

.date{
    float: right;
}

.task-list-title
{
    font-weight: bolder;
    text-align: center;
}

.task-list-title p
{
    font-weight: bolder;
    font-size: x-large;
    margin: 1%;
}


.date-red
{
    color: red;
}

.done-title
{
    text-decoration: line-through;
    text-decoration-color: black;
    color: grey;;
}


.delete-todo-list-button
{
    border-width: 0;
    font-size: x-large;
    color: black;
    background-color: #D93535;
    margin-top: 1em;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px
}

.delete-todo-list-link
{
    margin-left: auto;
    margin-right: auto;
}

.remove-button
{
    font-size: x-large;
    border-width: 0;
    color: black;
    background-color: #D93535;
    width: max-content;
}
