.task-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.format-task-to-show{
    color: white;
    width:60em;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.task-to-output
{
    margin-top:2em;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #222222;
}
.task-isDone-checkBox {
    width: 20px;
    height: 20px;
}

.date{
    float: right;
}


.text-link {
    color: white;
    text-decoration: underline;
}

.date-red
{
    color: red;
}

.done-title
{
    text-decoration: line-through;
    text-decoration-color: black;
    color: grey;;
}