.task-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid red;
}


.format-task-to-show{
    color: white;
    width:60em;
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    margin-left: 2em;
}

.task-to-output
{
    margin-top:2em;
    padding-left: 1%;
    padding-right: 1%;
    border: 2px solid blueviolet;
    background-color: #222222;
}
.task-isDone-checkBox {
    width: 20px;
    height: 20px;
}

.date{
    float: right;
}